nav{
    height: 4rem;
    background-color: #000 !important;
}

.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position:center;
  
    display: flex;
    align-items: flex-end;
  }
  .reproductor{
    width: 100%;
    height: 600px;
  }

